@model IEnumerable<oylmData.Data.alcontent>

@section pagescript{
    <script>



    $(function () {

        setactive(4);
    });

    </script>
}

    <style>
        .beyaz {
            color: #f9fafb;
        }

        .textstop {
            width: 500px;
            height: 35px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>






<div id="yenialan" style="margin-top:-9px;">


    <h5> @Html.ActionLink("+ Yeni İçerik Ekle", "altbaslikContentekle", "", new { @class = "btn btn-info" })</h5>






    <div class="x_panel" style="margin-top:-9px;">

        <div class="x_content">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>İçerik</th>
                        <th>Başlık</th>
                        <th>Durum</th>
                        <th></th>



                    </tr>
                </thead>
                <tbody>



                    @foreach (var item in Model)
                    {

                        <tr>
                            <td scope="row"></td>
                            <td> <div class="textstop">@Html.Raw(item.content)</div></td>
                            <td>@Html.DisplayFor(modelItem => item.altbaslik.adi)</td>
                            <td>@Html.DisplayFor(modelItem => item.Status1.status1)</td>


                            <td>


                                <span>@Html.ActionLink("Güncelle", "Edit", new { id = item.id })</span>
                                <span>||</span>
                                <span>@Html.ActionLink("Sil", "Delete", new { id = item.id })</span>

                            </td>
                        </tr>
                    }



                </tbody>
            </table>

        </div>
    </div>

</div>