@model oylmData.Data.KoclukNedir

@{
    ViewBag.Icon = "fa fa-check";
    ViewBag.Title = "Koçluk Nedir?";
    ViewBag.altbaslik = "Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section pagecss
    {
    <style>
        .boyut {
            width: 35%;
            height: 35%;
        }

        .beyaz {
            color: #f9fafb;
        }

        .sagKenar {
            float: right;
        }
    </style>
}
@section pagescript{
    <script>



        $(function () {

            setactive(4);
        });

    </script>

    <script src="~/ckeditor/ckeditor.js"></script>
    <script>

        CKEDITOR.replace("editor1");
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>


}
   <form id="demo-form2" method="post" enctype="multipart/form-data" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2"><b>Koçluk Nedir? : </b></label>
            <div class="col-md-8">
                <textarea id="editor1" name="editor1">@Model.Kocluk</textarea>

            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2"><b>Durum : </b></label>
            <div class="col-md-8">
                <select id="statussec" name="statussec">

                    <option  @(Model.status==1? "selected":" ")  value="1">Aktif</option>
                    <option  @(Model.status==2? "selected":" ")   value="2">İnaktif</option>

                </select>

            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">

                <input type="submit" value="Güncelle" class="btn btn-primary sagKenar" />


            </div>
        </div>
    </div>
</form>


<div class="col-md-offset-2 col-md-8">
    @Html.ActionLink("Listeye Geri Dön", "Index", "Inf", "", new { @class = " sagKenar" })
</div>

